/**
 * iDonate 
 * Admin Css
 */

.id-admin-divider {
	position: relative;
	background: #2985ab;
	display: inline-block;
	padding: 4px 10px;
	font-weight: bold;
	color: #fff;
}
.id-admin-divider:after{
	content: "";
	width: 60px;
	height: 2px;
	background: #2985ab;
	position: absolute;
	top: 50%;
	right: -22%;
}
.id-admin-divider:before {
	content: "";
	width: 61px;
	height: 2px;
	background: #2985ab;
	position: absolute;
	top: 50%;
	left: -23%;
}
ul.settings-menu li {
	display: inline-block;
	margin: 0px 10px;
}
ul.settings-menu li a {
	background-color: #2985ab;
	padding: 12px 15px;
	font-size: 16px;
	display: block;
	text-decoration:none;
	font-weight: bold;
	color: #ffffff;
}
ul.settings-menu li a:hover {
	background-color: #126587;
}
.plug-info {
	position: relative;
	margin-bottom: 25px;
}
.ad-img {
	position: absolute;
	top: 0;
	right: 0;
}
.ad-img a {
	display: inline-block;
	margin: 0px 8px;
}

/**
 *
 * Responsive query
 *
 */
@media only screen and (max-width: 1024px) {
	.ad-img {
		position: absolute;
		top: 0;
		right: 0;
	}
	.ad-img a {
		display: block;
		margin: 8px 8px;
	}
}
@media only screen and (max-width: 782px) {
	.ad-img {
		position: relative;
		top: 0;
		right: 0;
	}
	.ad-img a {
		display: inline-block;
		margin: 0px 8px;
	}
	.id-admin-divider {
		display: block;
		text-align: center;
	}
}
@media only screen and (max-width: 453px) {
	.ad-img img {
		width: 100px;
		height: 100px;
	}
	.ad-img a {
		margin: 0px 8px;
	}
}