/**
 * iDonate 
 *
 */
 
 
/*******************
 Common css
*******************/
.btn.mt-30.btn-default.btn-center,
.btn-default {
	color: #4e3f30;
	background-color: transparent;
	border-color: #ef1414;
	border-width: 2px;
	font-weight: 600;
}
.btn.mt-30.btn-default.btn-center,
.btn {
	position: relative;
	padding: 8px 30px 9px;
	border-radius: 2px;
	font-size: 16px;
	line-height: 24px;
	-webkit-transition: color .3s, border-color .3s, background-color .3s ease-in-out;
	transition: color .3s, border-color .3s, background-color .3s ease-in-out;
	z-index: 0;
}
.btn.mt-30.btn-default.btn-center:hover,
.btn-default:focus, 
.btn-default:hover {
	color: #fff;
	background-color: #ef1414;
	border-color: #ef1414;
}

.display-block {
	display: block;
}
.btn-center {
	display: block;
	margin: 0 auto;
}
.mt-30 {
	margin-top: 30px;
}
.mb-15 {
	margin-bottom: 30px;
}
.mr-5 {
	margin-right: 5px;
}
.ml-5 {
	margin-left: 5px;
}
/*************************************
 Blood Request css
**************************************/
.request-page{
	margin: 50px 0px; 
}
.request-title {
	font-size: 20px;
	padding: 5px 5px;
	position: relative;
	background-color: #ef1414;
    color: #fff;
}
.request-title span {
	display: block;
    font-size: 10px;
	margin-top: 8px;
}
.single-request {
    padding-bottom: 25px;
    padding-top: 2px;
    background-color: #fff;
    box-shadow: 0 1px 20px rgb(0 0 0 / 10%);
    border: 1px solid #ebebeb;
    -webkit-transition: box-shadow .3s ease-in-out;
    transition: box-shadow .3s ease-in-out;
    text-align: center;
    margin-bottom: 15px;
}
.profile .image {
    position: relative;
    width: 70px;
    height: 70px;
    margin: 30px auto 0 auto;
}
.profile .image:hover {
    cursor: pointer;
}
.donors-info .btn ,
.single-request .btn-default {
	margin-top: 30px;
}

.profile .image .circle-1, 
.profile .image .circle-2 {
    position: absolute;
    box-sizing: border-box;
    width: 76px;
    height: 76px;
    top: -3px;
    left: -3px;
    border-width: 1px;
    border-style: solid;
    border-color: #753a88 #753a88 #753a88 transparent;
    border-radius: 50%;
    transition: all 1.5s ease-in-out;
}
.profile .image .circle-2 {
    width: 82px;
    height: 82px;
    top: -6px;
    left: -6px;
    border-color: #ef1414 transparent #ef1414 #ef1414;
}
.single-request:hover .profile .image .circle-1, 
.single-request:hover .profile .image .circle-2 {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
.single-request:hover .profile .image .circle-2 {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
}
.image .icon {
    position: absolute;
    left: 0;
    right: 0;
    top: 19%;
    font-size: 45px;
    margin: 0;
    color: #ef1414;
    width: unset;
}
.profile .name {
    font-size: 15px;
    font-weight: 600;
    margin-top: 20px;
}
.profile .job {
    font-size: 11px;
    line-height: 15px;
}
.request-info-area {
    padding: 0px 41px;
    margin-top: 12px;
}
.single-request .request-info {
    border-bottom: 1px solid #eee;
    padding: 8px 0px;
    font-size: 15px;
}
.request-info {
    text-align: right;
}
.request-info .fa {
    color: #ef1414;
    margin-top: 5px;
}
.request-info i {
    float: left;
}

.single-request .btn-default {
	border-color: #ef1414;
	border-width: 1px;
	color:#222;
	font-weight: bold;
}
.single-request .btn-default:hover {
	background: #ef1414;
	color: #fff;
}
.request-form {

	padding: 40px 20px;
}

.request-form .upload-preview {
	margin-top: 12px;
	width: 180px;
    height: 180px;
}
.request-info h2,
.submit-info h2 {
	margin-bottom: 0px;
}
.request-info span{
	display: block;
	margin-bottom: 15px;
	font-weight: 500;
}
.request-single-page .request-info {
	margin-bottom: 25px;
}
.single-request .fa {
	margin-right: 8px;
}
.tbllabel {
	font-weight: bold;
}
.request-info span {
    display: block;
    margin-bottom: 15px;
    font-weight: 500;
}
.request-single-page .infotable  span {
	display: block;
	position: relative;
	text-align: center;
	padding-bottom: 20px;
	color: #ef1414;
	font-size: 20px;
}

.request-single-page .infotable span:before {
	content: "";
	width: 20%;
	height: 3px;
	background-color: #ef1414;
	position: absolute;
	top: 12px;
	left:26%;
	border-right: 30px solid #303030;
}
.request-single-page .infotable span:after {
	content: "";
	width: 20%;
	height: 3px;
	background-color: #ef1414;
	position: absolute;
	top: 12px;
	right:26%;
	border-left: 30px solid #303030;
}
.infotable tbody td {
	padding: 12px;
}
.infotable .social-icons ul {
	list-style: none;
	margin: 0;
	text-align: center;
}
.infotable .social-icons ul li{
	display:inline-block;
}
.infotable .social-icons ul li a{
	display: flex;
    gap: 10px;
    background: #ef1414;
	color:#fff;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	margin-left: 5px;
	margin-right: 5px;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    transition: 0.5s;
}


.infotable .social-icons ul li i {
	line-height:0;
}
.idonate-pagination {
	text-align: center;
	margin: 50px 0px;
}
.idonate-pagination span.page-numbers {
    padding-top: 6px;
}
.idonate-pagination .page-numbers {
    text-decoration: none;
	margin: 0px 4px;
	padding: 10px 12px;
	transition: 0.5s;
}
.idonate-pagination a.page-numbers:hover {
	background-color: #ef1414;
	color: #fff;
	border-radius: 2px;
}
.idonate-pagination .next.page-numbers,
.idonate-pagination .prev.page-numbers {
	float: none;
	background-color: transparent;
	font-size: 15px;
	padding: 10px;
}

/*************************************
 Post Blood Request Form css
**************************************/
.request-form {
	box-shadow: 0 1px 20px rgba(0,0,0,.1);
	margin: 50px 0px;
}
.request-form .submit-info {
	margin-bottom: 30px;
}
.request-form .form-control{
	min-height: 45px;
}
.request-form .form-control,
.request-form .form-control:focus {
	border: 1px solid #ebebeb;
	border-radius: 0px;
	box-shadow: none;
	background: #F5F7FA;
}
.request-form .form-control:focus{
	border: 1px solid #ef1414;
}
.request-form label {
	font-weight: bold;
	font-size: 14px;
}
.request-form .form-control::-moz-placeholder {
	opacity: 0.5;
}
.confirmation {
	margin-bottom: 30px;
    text-align: center;
    border: 1px solid;
    padding: 5px;
}
