
  
  .idonate-field .idonate--switcher.only_pro_switcher .idonate--ball::after,
  .idonate-field.pro_only_field .idonate--inputs:after {
    content: "PRO";
    position: relative;
    text-align: center;
    width: 24px;
    float: right;
    font-weight: 600;
    font-size: 8px;
    color: #8796a1;
    opacity: 1;
    line-height: 18px;
  }
  .idonate-field.pro_only_field .idonate--inputs:after {
    height: 20px;
    border-radius: 3px;
    background-color: #8796a1;
    color: #ffffff;
  }
  .idonate-field.pro_only_field > .idonate-fieldset,
  .idonate-field.pro_only_field > .idonate-fieldset input[type="text"] {
    pointer-events: none;
    opacity: 0.5;
  }
  .idonate-field.pro_only_field > .idonate-fieldset input,
  .idonate-field.pro_only_field > .idonate-fieldset .idonate--icon,
  .idonate-field.pro_only_field > .idonate-fieldset .idonate--button,
  .idonate-field.pro_only_field > .idonate-fieldset select {
    border-color: #ede9e9;
    color: #999;
  }
  .idonate-field.pro_only_field > .idonate-fieldset .idonate--active {
    color: #fff;
  }