:root {
    --idonate-primary: #ef1414;
    --idonate-border: #d1d5db;
    --idonate-white: #ffffff;
    --idonate-black: #1f2937;
    --idonate-success: #18692b;
    --idonate-error: #ce0a1d;
    --idonate-shadow: #0000001a;
    --idonate-ratting: #ed9700;
  }